body{
    background-color: lightgray;
}

p{
    margin: 4px 0;
}

input{
    margin: 10px 0;
}

#buttons-view{
    margin: 20px 0;
}

#animalGifs, #favorites{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.animal-btn{
    margin-right: 10px;
    padding: 10px;
}

.animal-btn:last-child{
    margin-right: 0;
}

.fav-btn{
    margin-left: 20px;
}

.show-gif{
    margin: 10px 20px;
}

.flex{
    display: flex;
    justify-content: flex-start;
}

#gif-result{
    display: flex;
    justify-content: space-between;
}